/* Google font code here */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
main{
  max-width: 1140px;
  margin: 0 auto;
}
header {
  background-image: url(./images/developer.png), url(./images/header_bg.png);
  background-repeat: no-repeat;
  background-position:
    top left,
    bottom right;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px 0 250px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav ul a {
  text-decoration: none;
}
.nav_title {
  font-weight: 800;
  font-size: 45px;
}
/* share style here............................................... */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 0 250px;
}
.banner_content {
  max-width: 580px;
}
.text_primary {
  color: #fd6e0a;
}
.secandary_bg{
  background-color: #FFF8F3;
}
.text_2 {
  color: #474747;
}
.btn-primary {
  background-color: #fd6e0a;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  border-color: #fd6e0a;
  cursor: pointer;
}
.text-center{
  text-align: center;
}
/* banner styles  */
.banner_h4 {
  font-size: 45px;
  color: #474747;
  font-weight: 600;
}
.banner_h1 {
  font-size: 85px;
  font-weight: bold;
}
.banner p {
  font-size: 15px;
}
.banner_image {
  width: 580px;
}
.section-title{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-description{
  font-size: 18px;
  color: #757575;
}
.about{
  border-radius: 10px;
  padding: 130px;
  text-align: center;
  margin-top: 130px;
}
.about-items{
  display: flex;
  justify-content: space-around;

}
.item-title{
font-size: 15px;
}
.item-description{
  font-weight: bold;
}
.skills-box{
  display: flex;
  gap: 25px;
  margin-top: 20px;
}
.skill{
  padding: 30px;
  box-shadow: 0 6px 50px 0 rgb(0, 0,0,0.6);
  border-radius:10px;
 margin-top: 20px;
}